.avImage {
    border: 5px solid #2D5A4C !important;
    margin: 2% !important;
}

.avTable {
    border: 3px solid #2D5A4C !important;
    border-radius: 10px !important;
    margin: 2% !important;
    background-color: #EFF5F2 !important;
}

    .avTable tr {
        border-radius: 10px !important;
    }

    .avTable td {
        border-radius: 10px !important;
        margin: 1% !important;
        padding: 2px !important;
    }


.slider a {
    background-color: #2D5A4C !important;
    color: #FFD700 !important;
    border-radius: 10px !important;
    padding: 5px !important;
    align-self: center !important;
    margin: 3px !important;
    font-weight: bold !important;
}

    .slider a:hover {
        background-color: #7BC755 !important;
        color: #EFF5F2 !important;
        text-decoration: none !important;
    }

.slider div {
    margin: 5px !important;
}
