.avImage{
    border: 5px solid #2D5A4C;
    margin: 2%;
}
.avTable{
    border: 3px solid #2D5A4C;
    border-radius: 10px;
    margin: 2%;
    background-color: #EFF5F2;
    align-self: center;
}
.avTable tr{
    border-radius: 10px;
}
.avTable td{border-radius: 10px}
.slider a{
    background-color: #2D5A4C;
    color: #FFD700;
    border-radius: 10px;
    padding: 2%;
    align-self: center;
}
.slider a:hover{
    background-color: #7BC755;
    color: #EFF5F2;
}